{
	"presets": [
		"razzle/babel"
	],
	"plugins": [
		[
			"babel-plugin-root-import",
			{
				"rootPathSuffix": "src/",
				"rootPathPrefix": "@"
			}
		],
		[ "import",
			{
				"libraryName": "react-feather",
				"libraryDirectory": "dist/icons"
			},
			"react-feather"
		]
	]
}