{
	"presets": [
		"razzle/babel"
	],
	"plugins": [
		[
			"babel-plugin-root-import",
			{
				"rootPathSuffix": "src/",
				"rootPathPrefix": "@"
			}
		],
		[
			"styled-components",
			{
				"ssr": true,
				"displayName": true,
				"preprocess": false
			}
		]
	]
}