/* nunito-300 - latin-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: url('../../public/fonts/nunito-v9-latin-ext-300.eot'); /* IE9 Compat Modes */
    src: local('Nunito Light'), local('Nunito-Light'),
         url('../../public/fonts/nunito-v9-latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../public/fonts/nunito-v9-latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../public/fonts/nunito-v9-latin-ext-300.woff') format('woff'), /* Modern Browsers */
         url('../../public/fonts/nunito-v9-latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../public/fonts/nunito-v9-latin-ext-300.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-regular - latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/nunito-v9-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
        url('../../public/fonts/nunito-v9-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../public/fonts/nunito-v9-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../public/fonts/nunito-v9-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
        url('../../public/fonts/nunito-v9-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../public/fonts/nunito-v9-latin-ext-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-600 - latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('../../public/fonts/nunito-v9-latin-ext-600.eot'); /* IE9 Compat Modes */
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
        url('../../public/fonts/nunito-v9-latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../public/fonts/nunito-v9-latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../public/fonts/nunito-v9-latin-ext-600.woff') format('woff'), /* Modern Browsers */
        url('../../public/fonts/nunito-v9-latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../public/fonts/nunito-v9-latin-ext-600.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-700 - latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/nunito-v9-latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Nunito Bold'), local('Nunito-Bold'),
        url('../../public/fonts/nunito-v9-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../public/fonts/nunito-v9-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../public/fonts/nunito-v9-latin-ext-700.woff') format('woff'), /* Modern Browsers */
        url('../../public/fonts/nunito-v9-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../public/fonts/nunito-v9-latin-ext-700.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-800 - latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('../../public/fonts/nunito-v9-latin-ext-800.eot'); /* IE9 Compat Modes */
  src: local('Nunito ExtraBold'), local('Nunito-ExtraBold'),
        url('../../public/fonts/nunito-v9-latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../public/fonts/nunito-v9-latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
        url('../../public/fonts/nunito-v9-latin-ext-800.woff') format('woff'), /* Modern Browsers */
        url('../../public/fonts/nunito-v9-latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../../public/fonts/nunito-v9-latin-ext-800.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* muli-300 - latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url('../../public/fonts/muli-v12-latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Muli Light'), local('Muli-Light'),
       url('../../public/fonts/muli-v12-latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../public/fonts/muli-v12-latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../public/fonts/muli-v12-latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('../../public/fonts/muli-v12-latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../public/fonts/muli-v12-latin-ext-300.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-regular - latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/muli-v12-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Muli Regular'), local('Muli-Regular'),
       url('../../public/fonts/muli-v12-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../public/fonts/muli-v12-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../public/fonts/muli-v12-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../../public/fonts/muli-v12-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../public/fonts/muli-v12-latin-ext-regular.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-600 - latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: url('../../public/fonts/muli-v12-latin-ext-600.eot'); /* IE9 Compat Modes */
  src: local('Muli SemiBold'), local('Muli-SemiBold'),
       url('../../public/fonts/muli-v12-latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../public/fonts/muli-v12-latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../public/fonts/muli-v12-latin-ext-600.woff') format('woff'), /* Modern Browsers */
       url('../../public/fonts/muli-v12-latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../public/fonts/muli-v12-latin-ext-600.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-700 - latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/muli-v12-latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Muli Bold'), local('Muli-Bold'),
       url('../../public/fonts/muli-v12-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../public/fonts/muli-v12-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../public/fonts/muli-v12-latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../../public/fonts/muli-v12-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../public/fonts/muli-v12-latin-ext-700.svg#Muli') format('svg'); /* Legacy iOS */
}
/* muli-800 - latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  src: url('../../public/fonts/muli-v12-latin-ext-800.eot'); /* IE9 Compat Modes */
  src: local('Muli ExtraBold'), local('Muli-ExtraBold'),
       url('../../public/fonts/muli-v12-latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../public/fonts/muli-v12-latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../public/fonts/muli-v12-latin-ext-800.woff') format('woff'), /* Modern Browsers */
       url('../../public/fonts/muli-v12-latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../public/fonts/muli-v12-latin-ext-800.svg#Muli') format('svg'); /* Legacy iOS */
}

@import "./vendor/tailwind_output.css";