@import "./font.css";
@import "./vendor/tailwind_output.css";
@import "./vendor/slick-carousel.css";

.apost:before {
    content: "\201C";
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: -24px;
    font-size: 120px;
    opacity: 0.2;
}

.apost:after {
    content: "\201D";
    font-family: sans-serif;
    position: absolute;
    bottom: -24px;
    right: -24px;
    font-size: 120px;
    opacity: 0.2;
}

/* Loading spinner */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Footer city animations */
/* each city requires top margin of -1.5rem (Height of each item) */
@keyframes city-move { 
    0%  {margin-top: 0}
    33.33%  {margin-top: -1.5rem}
    66.66%  {margin-top: -3rem}
    100% {margin-top: 0;}
}
@keyframes city-fade {
    0%, 20% { opacity: 1 }
    50% { opacity: 0 }
    80%, 100% { opacity: 1 }
}
